:root {
  /* fonts family */
  --main-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Colors */
  --main-color: #001C30 ;
  --sec-color: #60f8ee ;
  --light-color: #003053 ;
  /* Media */
  --mobile: "min-width: 320px";
  --tablet: "min-width: 640px";
  --laptop: "min-width: 1024px";
  --desktop: "min-width: 1440px";
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
::selection{
  background: var(--light-color);
}

/**************************** Responsive design ****************************/

/* .main-container {
  width: 100%;
  margin: 0% auto;
}

@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .main-container {
    max-width: 924px;
  }
}
@media (min-width: 1280px) {
  .main-container {
    max-width: 1224px;
  }
} */

.btn{
  background-color: var(--sec-color) !important;
  color: var(--main-color) !important;
  font-family: var(--main-font) !important;
  font-weight: 400 !important;
  transition: 200ms !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
}
.btn:hover{
  transform: translateY(-3px) !important;
  opacity: 85% !important;
}

.btn-outlined{
  background-color: transparent !important;
  border: var(--sec-color) 1px solid !important;
  color: var(--sec-color) !important;
  font-family: var(--main-font) !important;
  font-weight: 400 !important;
  transition: 200ms !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
}
.btn-outlined:hover{
  transform: translateY(-3px) !important;
  background-color: var(--sec-color) !important;
  color: var(--main-color) !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  color: #ffffff88 !important;
  font-family: var(--main-font) !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
  color: white !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #ffffff88 !important;
}
